{% extends 'home.html' %}

{% block content %}


<h2>Edit this user:</h2>
<img src="{{user.img_url}}" alt="user avatar" width="200" height="200">

<form action="/users/{{user.id}}/edit" method="post">
    <input type='text' name='first_name' value="{{user.first_name}}">
    <input type='text' name='last_name' value="{{user.last_name}}">
    <input type='text' name='img_url' value="{{user.img_url}}">
    <button>Save</button>
</form>
<form action="/users">
    <button>Cancel</button>
</form>

{% endblock %}